:root {
    --bs-green: rgb(13, 155, 72);
    --bs-brightblue: rgb(0, 120, 200);
    --bs-orange: rgb(255, 143, 0);
    --bs-neutraldarkgrey: rgb(70, 70, 70);
    --bs-white: rgb(255, 255, 255);
    --bs-greenmenu: rgb(13, 155, 72);
}

* {
    box-sizing: border-box;
}

/***Adding properties to body***/
body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 245);
    width: 100%;
}

/***Adding properties to whole header***/
header {
    height: 60px;
    background-color: var(--bs-white);
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}


/* utility-class btn for dark-light mode,and other buttons(whole right header)*/
.btn {
    padding: 10px;
    cursor: pointer;
}





/* Adding background color for Update,get certified, free website and login buttons */
.bg-green {
    background-color: var(--bs-green);
    color: var(--bs-white);
}


.bg-brightblue {
    background-color: var(--bs-brightblue);
    color: var(--bs-white);
}

.bg-orange {
    background-color: var(--bs-orange);
    color: black;
}

.bg-neutraldarkgrey {
    background-color: var(--bs-neutraldarkgrey);
    color: var(--bs-white);
}








/* Hover effect for buttons header-right */
.bg-green:hover {
    background-color: rgb(10, 140, 65);
}

.bg-brightblue:hover {
    background-color: rgb(0, 100, 180);
}

.bg-orange:hover {
    background-color: rgb(230, 130, 0);
}

.bg-neutraldarkgrey:hover {
    background-color: rgb(50, 50, 50);
}







/* Adding properties to the logo */
.CoWorld-logo {
    width: 40px;
    /* padding: 0px 20px;       (commenting this because giving box sizing at the beginning and width of body as 100px)  */
}


/* Adding width to logo img */
.CoWorld-logo img {
    width: 100%;
}


/***Header-left class***/
.Header-left {
    display: flex;
    align-items: center;
    height: 100%;
}


/* Adding properties to all a link and adding menu-btn to make it responsive*/
.Header-left .menu-btn {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(33, 33, 33);
    text-decoration: none;
    justify-content: center;
    justify-items: center;
}


/***Adding hover effect to Header-left field ***/
.Header-left .menu-btn:hover {
    background-color: rgba(13, 155, 72, 0.2);
    color: rgb(13, 155, 72);
}

/***Header left adding padding for the logo***/
.Header-left .menu-btn:first-child {
    padding: 0px;
}

/***Hover transparent for Header-left logo***/
.Header-left .menu-btn:first-child:hover {
    background-color: transparent;
}


/* Giving padding to header's left a link between title and icon */
.fa-regular {
    padding: 0px 3px;
}


/* Header-right dark-light mode  */
.toggleLightDark {
    transform: rotate(180deg);
    align-items: center;
    justify-content: center;
    height: 35px;
}

/* Header-right dark-light mode hover  */
.toggleLightDark:hover {
    color: green;
}




/* header-right */
.Header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 15px;
}


.Header-right a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 60px;
    padding: 10px 20px;
    min-width: 50px;
}







/* if min-width is not there then this will work */
#upgrade-btn {
    display: none;
}

#getcertified-btn {
    display: none;
}

#video-btn {
    display: none;
}

#freewebsite-btn {
    display: none;
}

#menu-btn-tutorial,
#menu-btn-reference,
#menu-btn-exercises {
    display: none;
}


.toggleLightDark {
    display: none;
}


.toggleSearch,
.toggleTranslate {
    display: none;
}



#menu-btn-mobile {
    display: flex;
    padding-left: 10px;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

/* else -this
 Responsive   */
@media all and (min-width:1300px) {
    #upgrade-btn {
        display: block;
    }
}


@media all and (min-width:1150px) {
    #getcertified-btn {
        display: block;
    }

    #video-btn {
        display: block;
        display: flex;
    }
}


@media all and (min-width:910px) {
    #freewebsite-btn {
        display: block;
    }
}


@media all and (min-width:736px) {

    #menu-btn-tutorial,
    #menu-btn-reference,
    #menu-btn-exercises {
        display: flex;
    }

    #menu-btn-mobile {
        display: none;

    }
}


@media all and (min-width:758px) {
    .toggleLightDark {
        display: block;
    }
}


@media all and (min-width:400px) {
    .Header-right a:last-child {
        padding: 10px 40px;
    }
}

@media all and (min-width:341px) {

    .toggleSearch,
    .toggleTranslate {
        display: block;
    }
}







/* mobile-menu-container */
.mobile-menu-container {
    /* height: 500px; */
    background-color: var(--bs-greenmenu);
    display: none;
}



.mobile-menu-container ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}


.mobile-menu-container ul a {
    padding: 15px;
}

.menu-btn-mobile {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 550;

}

.mobile-menu-nav-hidden {
    display: flex;
    flex-direction: column;
}

@media all and (min-width:736px) {
    /* .mobile-menu-container {
        display: none;
    } */

    .mobile-menu-nav-hidden {
        display: none;
    }
}


/* close btn in mobile-menu-container */
.menu-close-btn {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.menu-close-btn i {
    font-size: 15px;
}

.menu-close-btn button {
    border: none;
    background-color: transparent;
}



/* working on the navigation bar body  */
  


.nested-navigation-container {
    background-color: var(--bs-green);
    color: white;
}

.nested-navigation-container-close-btn {
    display: flex;
    justify-content: flex-end;

}

.nested-navigation-container-close-btn button{
    font-size: 30px;
    padding: 30px;
    background-color: transparent;
    border: none;
    color: var(--bs-white);
}

.nested-navigation-container-close-btn button:hover{
    background-color: var(--bs-white);
    color: black;
}


.nested-navigation-container_content{
    width: 90%;
    background-color: var(--bs-brightblue);
    margin: auto;
}

.nested-navigation-container_content{
    margin: 0%;
    
}